@font-face {
    font-family: "Avenir Next";
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf),
        url("../../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Avenir Next";
    src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf),
        url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Avenir Next";
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf),
        url("../../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
    font-weight: 700;
}
