@use './screens';
@use './colours';
@use './variables';

// Desktop Mixin
@mixin desktop-margin {
    margin-top: 3rem;
    margin-bottom: 2.25rem;
}

@mixin desktop {
    @media (min-width: screens.$desktop-breakpoint) {
        @content;
    }
}

// Tablet Mixin
@mixin tablet {
    @media (min-width: screens.$tablet-breakpoint) {
        @content;
    }
}

@mixin tablet-heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
}

@mixin tablet-margin {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

// Mobile Mixin
@mixin mobile-heading {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}

@mixin mobile-margin {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

// Logo Mixin
@mixin logo {
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: uppercase;
}

@mixin overlay {
    background-color: colours.$bandsite-black;
    opacity: 1.5;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

@mixin input {
    font-family: 'Avenir Next';
    font-weight: 500;
    border: 1px solid colours.$mercury;
    border-radius: 4px;
    background-color: colours.$alabaster;
}

@mixin button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 4px;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: colours.$white;
    text-transform: uppercase;
    background-color: colours.$bandsite-black;
    padding: 0.5rem 0;
}

@mixin comment-button {
    border: none;
    border-radius: 4px;
    color: colours.$white;
    background-color: colours.$bandsite-black;
    padding: 0.2rem 0.5rem;
    margin-right: 0.5rem;
    width: 5rem;
    transition: transform 0.3s;
}

@mixin button-hover {
    background: colours.$bandsite-darkblack;
    transform: variables.$scale;
}
